{% extends "account/base.html" %}
{% load widget_tweaks %}
{% load i18n %}
{% load allauth account socialaccount %}
{% block head_title %}
    {% trans "Sign In" %}
{% endblock head_title %}
{% block content %}
    <h1 class="text-3xl font-semibold text-center text-purple-700">LOGIN</h1>
    {% url 'account_login' as login_url %}
    {% element form form=form method="post" action=login_url tags="entrance,login" class="space-y-4" %}
        {% slot body %}
            {% csrf_token %}
            {% if form.errors %}
            <div class="p-4 my-4 border border-red-600 border-solid rounded-md bg-red-50">
                <div class="flex">
                    <div class="flex-shrink-0">
                    <!-- Heroicon name: solid/x-circle -->
                    <svg class="w-5 h-5 text-red-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z" clip-rule="evenodd" />
                    </svg>
                    </div>
                    <div class="ml-3 text-sm text-red-700">
                        Invalid username or password! Please try again.
                    </div>
                </div>
            </div>
            {% endif %}
            <div>
                <label class="label" for="login"> 
                    <span class="text-base label-text">Username</span>
                </label>
                {% render_field form.login placeholder="Username" id="login" name="login" type="text" autocomplete="username" required=True class="w-full input input-bordered input-primary mb-1" %}
            </div>

            <div>
                <label class="label" for="password">
                    <span class="text-base label-text">Password</span>
                </label>
                {% render_field form.password placeholder="Password" id="password" name="password" type="password" required=True class="w-full input input-bordered input-primary mb-1" %}
            </div>

            <a href="#" class="text-xs text-gray-600 hover:underline hover:text-blue-600">Forget Password?</a>

            {% if redirect_field_value %}
                <input type="hidden"
                       name="{{ redirect_field_name }}"
                       value="{{ redirect_field_value }}" />
                
            {% endif %}
        {% endslot %}
        {% slot actions %}
             <div>
                <button class="btn btn-primary">Login</button>
                <a href="{{ signup_url }}" class="btnx btn-infox">Signup</a>
            </div>
        {% endslot %}
    {% endelement %}
    {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}

{% endblock content %}
