{% extends "account/base.html" %}
{% load widget_tweaks %}
{% load allauth i18n socialaccount %}
{% block head_title %}
    {% trans "Signup" %}
{% endblock head_title %}
{% block content %}

    <h1 class="text-3xl font-semibold text-center text-purple-700">SIGN UP</h1>
    {% url 'account_signup' as action_url %}
    {% element form form=form method="post" action=action_url tags="entrance,signup" %}
        {% slot body %}
            {% csrf_token %}

            <div>
                {% render_field form.username placeholder="Username" id="username" name="username" type="text" autocomplete="username" required=True class="w-full input input-bordered input-primary mb-1" %}
                {% if form.username.errors %}
                <div class="p-4 my-4 border border-red-600 border-solid rounded-md bg-red-50">
                    <div class="flex">
                        <div class="flex-shrink-0">
                        <!-- Heroicon name: solid/x-circle -->
                        <svg class="w-5 h-5 text-red-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z" clip-rule="evenodd" />
                        </svg>
                        </div>
                        <div class="ml-3 text-sm text-red-700">
                            {{ form.username.errors | safe }}
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>

            <div>
                {% render_field form.email placeholder="Email address" id="email" name="email" type="text" maxlength="320" autocomplete="username" required=True class="w-full input input-bordered input-primary mb-1" %}
                {% if form.email.errors %}
                <div class="p-4 my-4 border border-red-600 border-solid rounded-md bg-red-50">
                    <div class="flex">
                        <div class="flex-shrink-0">
                        <!-- Heroicon name: solid/x-circle -->
                        <svg class="w-5 h-5 text-red-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z" clip-rule="evenodd" />
                        </svg>
                        </div>
                        <div class="ml-3 text-sm text-red-700">
                            {{ form.email.errors | safe }}
                        </div>
                    </div>
                </div>
                {% endif %}
                
            </div>

            <div>
                {% render_field form.password1 placeholder="Password" id="password1" name="password1" type="password" required=True class="w-full input input-bordered input-primary mb-1" %}
                {% if form.password1.errors %}
                <div class="p-4 my-4 border border-red-600 border-solid rounded-md bg-red-50">
                    <div class="flex">
                        <div class="flex-shrink-0">
                        <!-- Heroicon name: solid/x-circle -->
                        <svg class="w-5 h-5 text-red-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z" clip-rule="evenodd" />
                        </svg>
                        </div>
                        <div class="ml-3 text-sm text-red-700">
                            {{ form.password1.errors | safe }}
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>

            <div>
                {% render_field form.password2 placeholder="Confirm Password" id="password2" name="password2" type="password" required=True class="w-full input input-bordered input-primary mb-1" %}
                {% if form.password2.errors %}
                <div class="p-4 my-4 border border-red-600 border-solid rounded-md bg-red-50">
                    <div class="flex">
                        <div class="flex-shrink-0">
                        <!-- Heroicon name: solid/x-circle -->
                        <svg class="w-5 h-5 text-red-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z" clip-rule="evenodd" />
                        </svg>
                        </div>
                        <div class="ml-3 text-sm text-red-700">
                            {{ form.password2.errors | safe }}
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>

            {% if redirect_field_value %}
                <input type="hidden"
                       name="{{ redirect_field_name }}"
                       value="{{ redirect_field_value }}" />
            {% endif %}
        {% endslot %}
        {% slot actions %}
            <div class="my-3">
                <button class="btn btn-primary">Sign Up</button>
                <a href="{{ login_url }}" class="btnx btn-infox">Log In</a>
            </div>
        {% endslot %}
    {% endelement %}
    {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
{% endblock content %}
