{% load i18n %}
{% load allauth account socialaccount %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do List</title>

    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.0.9/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com?plugins=typography"></script>
    <script src="https://unpkg.com/htmx.org@1.9.8" integrity="sha384-rgjA7mptc2ETQqXoYC3/zJvkU7K/aP44Y+z7xQuJiVnB/422P/Ak+F/AqFR7E4Wr" crossorigin="anonymous"></script>

</head>
<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>

     <div class="mt-4 ml-4">
        {% url 'account_logout' as action_url %}
        {% element form method="post" action=action_url no_visible_fields=True %}
            {% slot body %}
                {% csrf_token %}
                {% if redirect_field_value %}
                    <input type="hidden"
                        name="{{ redirect_field_name }}"
                        value="{{ redirect_field_value }}" />
                {% endif %}
            {% endslot %}
            {% slot actions %}
                {% element button type="submit" %}
                    {% trans 'Sign Out' %}
                {% endelement %}
            {% endslot %}
        {% endelement %}
     </div>
    <div class="mt-4">
        {% block content %}
        {% endblock %}
    </div>
    
</body>
</html>